<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.worldvisioncable">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/wvclogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wvclogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme">
        <service android:name=".PushNotitfication.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".PushNotitfication.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChangePlan.BroadbandPlanChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InternetPacksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CableTVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebContent"
            android:label="@string/title_activity_web_content"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TryAgainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RenewPaymentFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePlan.ActiveCableTVChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CablePlansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.atom.mobilepaymentsdk.PayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EditUserProfile"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ViewOffers"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>